<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C H A N G E</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="container">
        <h1 id="title">Click to transform.</h1>
    </div>

    <script src="js/script.js"></script>
</body>
</html>
